# fly.toml app configuration file generated for attachment-style-empty-sky-5317 on 2025-10-12T22:56:27+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'attachment-style-empty-sky-5317'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile.prod'

[deploy]
  release_command = '/app/release-tasks.sh'

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  min_machines_running = 1
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
