gunicorn
kaleido
dash-bootstrap-components
dash-dangerously-set-inner-html
dash-iconify
dash-mantine-components
flake8
fpdf
ipykernel
matplotlib
mypy-extensions
nbformat
pandas
pathspec
pip-chill
pytest
reportlab
markdown
sqlalchemy
alembic
psycopg2
scikit-learn
python-dotenv